
<h1 class="text-center pt-3 pb-3">Listing all articles</h1>
<% @article.each do |article|%> 
<div class="container"> 
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="card text-center mb-3 shadow">
                <div class="card-header">
                Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%=link_to  article.title ,article_path(article),class:"text-success"%></h5>
                    <p class="card-text"><%= article.description%></p>
                    <%=link_to 'View',article_path(article),class:"btn btn-outline-primary"%>
                    <%= link_to 'Edit',edit_article_path(article),class:"btn btn-outline-success"%>
                    <%= link_to 'Delete',article_path(article),method: :delete,class:"btn btn-outline-warning",data: {confirm:"SUre?"}%>
                </div>
                <div class="card-footer text-muted">
                    <%=article.created_at%>
                </div>
            </div>
        </div>
    </div>
</div>        
<%end%>
    
    
    







