<div class="bg-color">
<div class="container">
<h1 class="text-center pt-3 pb-5"><%=@article.title%></h1
>
<div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="card text-center mb-3 shadow">
                <div class="card-header">
                        by <%= @article.user.username%>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= @article.description%></p>
                    <%= link_to 'Edit',edit_article_path(@article),class:"btn btn-outline-success"%>
                    
                    <%= link_to 'Delete',article_path(@article),method: :delete,class:"btn btn-outline-warning",data: {confirm:"SUre?"}%>
                </div>
                <div class="card-footer text-muted">
                    <p>created_at:<%=time_ago_in_words(@article.created_at)%></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>