<!DOCTYPE html>
<html>
  <head>
    <title>Alphablog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation'%>
    
    <%flash.each do |name,msg|%>
      <%if (name=="notice")%>
        <div class="alert alert-success" role="alert">
          <%=msg%>
        </div>
       <%else%>
       <div class="alert alert-warning" role="alert">
       <%=msg%>
     </div>
    <%end%>  
  <%end%>
    <%= yield %>
  </body>
</html>
